local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("Create By teychit", "Synapse")
local Tab = Window:NewTab("Menu")
local Section = Tab:NewSection("game")
Section:NewButton("Prisonlife", "Admin", function()
    loadstring(game:HttpGet("https://raw.githubusercontent.com/descord/loadstrings/main/prisonlifecmds1.lua", true))()
end)
Section:NewButton("Murder mystery 2", "hack", function()
    loadstring(game:HttpGet(("https://raw.githubusercontent.com/Ethanoj1/EclipseMM2/master/Script"),true))()
end)
Section:NewButton("Admin", "Admin", function()
   loadstring(game:HttpGet('https://raw.githubusercontent.com/EdgeIY/infiniteyield/master/source'))()
end)
Section:NewButton("Bloxfruits", "hack", function()
    loadstring(game:HttpGet"https://raw.githubusercontent.com/HULKUexe/Free---Script/main/3GAME")()
end)
Section:NewButton("Dahood Hack", "hack", function()
   loadstring(game:HttpGet("https://raw.githubusercontent.com/nighter132/Faded/main/YesEpic", true))()
end)
